<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00472901
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/favourites">
        <ion-icon name="heart" size="large"></ion-icon>
      </ion-button>
      <ion-button routerLink="/settings">
        <ion-icon name="settings-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="searchText" label="Enter Ingredients" placeholder="Ingredients"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="search()">Search</ion-button>

  <div>
    <ion-card *ngFor="let result of apiResults">
      <img src="{{result.image}}" />
      <ion-card-header>
        <ion-card-title>{{result.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-button>Details</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>